@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
*,
::after,
::before {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100svh;
  width: 100%;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
:root {
  --primary-1: #39cdcc;
  --primary-2: #213f7d;
  --primary-3: #545f7d;
  --primary-4: rgb(253, 253, 253);
  --primary-5: #fbfbfb;
}

.container {
  background-color: var(--primary-5);
  height: 100%;
}
/* navbar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  z-index: 100rem;
  padding: 0 2rem;
  width: 100%;
  box-sizing: border-box;
  height: 6rem;
  align-items: center;
  box-shadow: 1px 1px 1px #d6d9e4;
}
nav .left {
  display: flex;
  align-items: center;
  gap: 4rem;
}
nav .left .input-container {
  position: relative;
}
nav .left .input-container input {
  width: 23rem;
  height: 2.5rem;
  border-radius: 8px;
  border: 1px solid #213f7d;
  opacity: 30%;
  padding-left: 1rem;
}
nav .left .input-container input:focus {
  outline: none;
}
nav .left .input-container span {
  position: absolute;
  right: 0;
  width: 3rem;
  background-color: var(--primary-1);
  height: 100%;
  border-radius: 0px 8px 8px 0;
  text-align: center;
}

nav .left .input-container span img {
  margin-top: 0.7rem;
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}
.right a,
.profile {
  color: var(--primary-3);
  font-size: 1.2rem;
}
.right .menu {
  display: none;
}
/* end of navabr */
/* sidebar */

aside {
  position: fixed;
  top: 100px;
  width: 15rem;
  background-color: #fff;
  height: calc(100svh - 200px);
  padding: 4rem 2rem;
  overflow: auto;
}
aside::-webkit-scrollbar {
  width: 10px;
  background-color: whitesmoke;
}

.organization img,
.organization span {
  margin-right: 0.7rem;
  font-weight: 400;
}
.organization {
  margin-bottom: 2.5rem;
  display: flex;
}
.dashboard,
.categories h3,
.categories ul li {
  display: flex;
  gap: 1rem;
}
.categories {
  margin-top: 2.5rem;
}

.categories ul,
.categories ul li,
.categories h3 {
  margin-bottom: 1.2rem;
}
.categories h3 {
  color: var(--primary-3);
  font-weight: 900;
  font-size: 12px;
  line-height: 14.08px;
}
.categories ul li span {
  color: var(--primary-2);
  font-weight: 400;
  font-size: 1rem;
}
/* end of sidebar */

/* main container  */
main {
  margin-top: 6rem;
  margin-left: 18.5rem;
  padding: 3rem;
  background-color: var(--primary-5);
}

main h2 {
  margin-bottom: 1rem;
  color: var(--primary-2);
  font-weight: 500;
  font-size: 1.3rem;
}
.account-info-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  overflow: auto;
  padding: 1rem 0;
}
.account-info-container::-webkit-scrollbar {
  width: 0;
}
.account-info-container .info {
  width: 100%;
  background-color: #fff;
  display: grid;
  place-content: center;
  text-align: center;
  border: 1px solid #213f7d0f;
  border-radius: 5px;
  padding: 1rem 5rem;
}
.account-info-container .info img {
  margin: 0 auto;
}

.account-info-container .info > * {
  margin-bottom: 0.7rem !important;
  font-size: 0.7rem;
  font-weight: 700;
}
.table-container {
  overflow: auto;
}
table {
  width: 100%;
  border: 1px solid #213f7d0f;
  box-shadow: 3px 5px 20px 0px #0000000a;
  /* overflow-x: auto; */
  padding: 1rem;
}

table th span {
  text-align: center;
  margin-right: 0.4rem;
  font-size: 0.7rem;
}
table th {
  color: #213f7d;
  padding: 1rem 0;
  text-transform: uppercase;
  padding-right: 1rem;
}
table th img {
  width: 0.6rem;
}
table td {
  text-align: center;
  border-bottom: 1px solid #213f7d0f;
  padding: 0.5rem 0;
}
table button {
  border: none;
  background-color: #d6d9e4;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: var(--primary-3);
}
table .pending {
  color: #e9b200;
  background-color: #f0dfa9;
}
table .Blacklisted {
  color: #e4033b;
  background-color: #f5ccd6;
}
table .active {
  color: #39cd62;
  background-color: #cdf8d9;
}
.filter-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.filter-pagination .pagination {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.material-symbols-outlined {
  background-color: #bfc4cf;
  border-radius: 0.2rem;
}
.filter {
  display: flex;
  gap: 1rem;
}
.filter select {
  background-color: #9097aa;
  border: none;
  padding: 0.2rem 1rem;
  color: var(--primary-5);
  border-radius: 5px;
}

@media screen and (max-width: 980px) {
  aside {
    display: none;
  }
  .right .menu {
    display: block;
    font-size: 2rem;
    color: black;
    background-color: transparent;
  }
  nav .left .input-container,
  .right a,
  .right .profile {
    display: none;
  }
  nav .logo {
    width: 8rem;
  }
  .right .avater {
    width: 2rem;
  }
  main {
    margin-left: 0;
    padding: 2rem;
  }
  main h2 {
    margin-bottom: 1rem;
  }
  .account-info-container .info p {
    font-size: 0.6rem;
  }
  table th img {
    display: none;
  }
  .filter-pagination .pagination {
    display: none;
  }
}
